header {
    margin: 0px;
    padding: 0px;
    background-color: #d3d3d3;
    border-radius: 14px 14px 0px 0px;
}

fieldset, div {
    border-color: #212121;
    border-width: 0.2px;
    border-radius: 14px;
}


hr {
    border-color: #212121;
    border-width: 0.1px;
}

code {
    background-color: #e8e6e6;
    padding: 8px;
    border-radius: 5px;
    font-family: monospace;
}

img, video {
    border-radius: 16px;

}